.biostatistics-container {
    text-align: center;
    padding: 20px;
}

.biostatistics-title h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: clamp(16px, 4vw, 48px);
}

.biostatistics-content h2 {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    margin: 0;
    margin-top: clamp(16px, 3vw, 32px);
    margin-bottom: clamp(8px, 1.5vw, 16px);
}

.biostatistics-content ul {
    font-family: 'Open Sans', sans-serif;
    font-weight: 350;
    font-size: 18px;
    display: inline-block;      
    text-align: left;  
    margin: 0;     
}

.disclaimer {
    text-align: center;
    padding: 30px;
}

.disclaimer p{
    font-family: 'Open Sans', sans-serif;
    background-color: #e5eff6;
    padding: 30px;
    border-radius: 5px;
    max-width: 800px;
    line-height: 1.5;
    margin: 0 auto;
}

